Service References/ThumbnailServiceReference/thumbnail1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueueThumbnailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="questionID" type="xs:int" />
        <xs:element minOccurs="0" name="isItemBankQuestion" type="xs:boolean" />
        <xs:element minOccurs="0" name="thumbnailPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dbConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueThumbnailRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueThumbnailRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>